@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family: "Quicksand";
  color: #333;
  margin: 0;
}

body{
  padding: 15px;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  margin: 5px 60px;
  padding: 10px 0px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar > h1{
  color: #f1356d ;
}
.links{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.links a{
  text-decoration: none;
  color: #222;
  font-weight: 500;
  padding: 2px;
}
.links a:hover{
  color: #f1356d;
}
.content{
  max-width: 70%;
  padding: 10px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.home{
  width: 100%;
}

.blogsList{
  margin-bottom: 25px;
}

.blogPreview{
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
  margin-top: 15px;
}

.blogPreview:hover{
  box-shadow: 0px 2px 3px #eee;
  cursor: pointer;
}

.blogPreview h2{
  font-size: 20px;
  color: #f1356d
}

.blogPreview > p {
  font-size: 14.5px;
}

.blogPreview a{
  text-decoration: none;
}

.blogDetails h2{
  color: #f1356d;
}

.blogDetails p{
  margin-bottom: 25px;
  font-size: 17px;
}

.createBlog{
  width: 400px;
}

.createBlog h3{
  align-self: center;
  text-align: center;
  color: #f1356d;
  margin-top: 20px;
  font-size: 21px;
}

.createBlog form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.createBlog label{
  float: left;
  margin-top: 10px;
}

.createBlog input, textarea, select{
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
  padding: 7px;
}

.createBlog button{
  text-align: center;
  width: 100px;
  height: 40px;
  align-self: center;
  background-color: #f1356d;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 15px;
}